.App-header {
  height: 20vh;
}

.header-wrapper-image {
  max-height: 100%;
}

.row .header-wrapper-image img {
  max-width: 100%;
  max-height: 100%;
}

.type-text {
  color: white;
  padding: 2px;
}

.pagesize-selected {
  color: #ffcb05;
  background-color: #2b73b9;
}

.grass {
  background-color: green;
}

.bug {
  background-color: greenyellow;
}

.poison {
  background-color: purple;
}

.psychic {
  background-color: darkorchid;
}

.water {
  background-color: cornflowerblue;
}

.ice {
  background-color: cyan;
}

.fire {
  background-color: orangered;
}

.flying {
  background-color: darkgrey;
}

.rock {
  background-color: #612020;
}

.normal {
  background-color: gray;
}

.ground {
  background-color: brown;
}

.electric {
  background-color: #c1c108;
}

.fairy {
  background-color: violet;
}

.fighting {
  background-color: tomato;
}

.dragon {
  background-color: #A27DFA;
}

.stat_hp {
  background-color: #ff5959;
}
.stat_atk {
  background-color: #f5ac78;
}
.stat_def {
  background-color: #fae078;
}
.stat_spatk {
  background-color: #59c2ff;
}
.stat_spdef {
  background-color: #d3fa78;
}
.stat_speed {
  background-color: #f172e0;
}